{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}">
    <title>Title</title>
</head>
<body>
<nav class="navbar">
    <div class="container">
        <ul class="menu">
            <li>
                <a href="{% url 'to_do_list' %}">To Do List</a>
            </li>
            <li>
                <a href="{% url 'to_do_add' %}">Add To Do</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h1>{{ to_do.title }}</h1>
    <h2 class="to_do_row">{{ to_do.description }}<br>Status: {{ to_do.status }} {{ to_do.date }}</h2>
</div>
</body>
</html>